.recipegallery {
    border: 1px solid black;
    gap: 5px 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 500px;
    width: 80%;
}

.recipecard {
    background-color: white;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
}

.recipecardinfo {
    display: flex;
    flex-direction: column;
}
